<ul class="breadcrumb">

  <li>
    <a href="/">Startseite</a>
    <span class="divider">/</span>
  </li>

  <% for item in @breadcrumbs %>
    <li>
      <a href="<%= item.link %>"><%= item.name %></a>
      <span class="divider">/</span>
    </li>
  <% end %>

</ul>

<div id="directory_overview">
    <table class="table table-striped">
        <% for item in @entries %>
            <tr>
                <td style="overflow: hidden">
                    <a href="<%= item.link %>"><%= item.name %></a>
                </td>
                <td style="white-space: nowrap">
                    <% if not item.is_directory %>
                        <%= item.modified.strftime('%d.%m.%Y %H:%M') %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
