<ul class="breadcrumb">

  <li>
    <a href="/">Startseite</a>
    <span class="divider">/</span>
  </li>

  <% for item in @breadcrumbs %>
    <li>
      <a href="<%= item.link %>"><%= item.name %></a>
      <span class="divider">/</span>
    </li>
  <% end %>

</ul>

<div id="directory_overview">
    <table class="table table-striped ">
        <% for item in @directories %>
            <tr>
                <td>
                    <a href="<%= item.link %>"><%= item.name %></a>
                </td>
            </tr>
        <% end %>
    </table>

    <table class="table table-striped ">
        <% for item in @files %>
            <tr>
                <td>
                    <a href="<%= item.link %>"><%= item.name %></a>
                </td>
            </tr>
        <% end %>
    </table>
</div>
